@import './global.scss';

article{
    @include set_margin();
    .comment{
        padding-top: 2rem;
        border-bottom: 1px $text_label solid;
        @include set_figure();
        display: flex;
        figure {
            height: inherit;
            margin-right: 1rem;
        }
        .user_date{
            display: flex;
            justify-content: space-around;
            h1{
                font-size: 16px;
            }
            .date{
                color: $text_label;
            }
            .user_date{
                justify-content: left;
                text-align: left;
                & > * {
                    max-width: 124px;
                    margin-right: 2rem;
                    text-align: left;
                }
            }
        }

    }
}

@media (min-width:$tablet) {
    .comment{
        p{
            width: 624px;
        }
        .user_date{
            width: 50%;
            justify-content: left;
            text-align: left;
            & > * {
                max-width: 124px;
                margin-right: 2rem;
                text-align: left;
            }
        }
    }
}

@media (min-width:$desk) {
    .comments_part{
        .comment{
            width:712px;
        }
        margin-right: 1.5rem;
    }
}