@import './global.scss';


@media (min-width:$mobile) {
    .header{
        @include set_margin();
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width:90%;
        height:169px;
        & > * {
            width: 100%;
            height: 3rem;
        }
        .form {
            .form__submit {
                display: flex;
                align-items: center;
                justify-content: space-between;
                figure{
                    margin:0;
                    display: flex;
                    align-content: center;
                }
            }
            
        }
        #search{
            width: 100%;
            height: 3rem;
            border:2px $text_backgd solid;
        }
        .upload{
            margin-top: 0.5rem;
            margin-right:1rem;
            margin-bottom: 1rem;
            height: 3rem;
            min-width: 75%;
            border-radius:5px;
            padding: 0;
            border: 0;
            background:$primary_CTA_hover;
            color:$text_field;
            font-weight: bold;
        }
        #face{
            box-shadow: 2px;
            max-width: 3.375rem;
            max-height: 3.375rem;
            border-radius: 50%;
        }
        
    
    }
}

// <div className="header">
//                 <figure className="logo">
//                     <img id='logoImage' src='../Assets/Logo/Logo-brainflix.svg' alt="logo"/>
//                 </figure>
        
//                 <div className="form">
//                     <div className="form__search">
//                         <input id="search" type="text" placeholder="Search" required/>
//                     </div>
//                     <div className="form__submit">
//                         <button className="upload">+ UPLOAD</button>
//                         <figure>
//                             <img id="face" src="../Assets/Images/grace.jpg" alt="user_headshot"/>
//                         </figure>
//                     </div>
                    
//                 </div>
//             </div>
@media (min-width:$tablet) {
    .header{
        @include set_margin();
        display: flex;
        align-content: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width:90%;
        height: 5rem;
        & > * {
            height: 3rem;
            max-width: 15rem;
        }
        .logo{
            display: flex;
            align-items: center;
            max-width: 124px;
            margin-left: 0;
            margin-right: 169px;
        }
        .form {
            display: contents;
            margin-left: 169px;
            & > * {
                display: flex;
                align-items: center;
            }
            .form__submit {
                margin-right: 0;
                figure{
                    margin:0;
                    margin-left: 1.5rem;
                    display: flex;
                    align-content: center;
                }
            }
            
        }

        #search{
            max-width: 248px;
            height: 3rem;
            margin-left: 0;
            border:2px $text_backgd solid;
        }
        .upload{
            
            margin-right: 0;
            min-width: 100px;
            border-radius:5px;
            padding: 0;
            border: 0;
            background:$primary_CTA_hover;
            color:$text_field;
            font-weight: bold;
        }
        #face{
            box-shadow: 2px;
            max-width: 3.375rem;
            max-height: 3.375rem;
            border-radius: 50%;
        }
    }
}

@media (min-width:$desk) {
    .header{
        @include set_margin();
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        width:90%;
        height: 5rem;
        & > * {
            height: 3rem;
            max-width: 15rem;
        }
        .logo{
            display: flex;
            align-items: center;
            max-width: 124px;
            margin-left: 0;
            margin-right: 509px;
        }
        .form {
            display: contents;
            margin-left: 169px;
            & > * {
                display: flex;
                align-items: center;
            }
            .form__submit {
                margin-left: 1.5rem;
                figure{
                    margin:0;
                    display: flex;
                    align-content: center;
                }
            }
            
        }
        #search{

            max-width: 248px;
            height: 3rem;
            border:2px $text_backgd solid;
        }
        .upload{
            
            margin-left: 1.5rem;
            margin-right: 0;
            min-width: 100px;
            border-radius:5px;
            padding: 0;
            border: 0;
            background:$primary_CTA_hover;
            color:$text_field;
            font-weight: bold;
        }
        #face{
            box-shadow: 2px;
            max-width: 3.375rem;
            max-height: 3.375rem;
            border-radius: 50%;
            margin-left: 1.5rem;
        }
    }
}
