.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  height: 169px;
  padding-bottom: 4rem;
}

@media (min-width: 320px) {
  .header {
    margin: 0 16px;
  }
}

@media (min-width: 768px) {
  .header {
    margin: 0 24px;
  }
}

@media (min-width: 1440px) {
  .header {
    margin: 0 180px;
  }
}

.header > * {
  width: 100%;
  height: 3rem;
}

.header .form .form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .form .form__submit a {
  width: 77.78%;
}

.header .form .form__submit .upload {
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  height: 3rem;
  width: 100%;
  border-radius: 5px;
  padding: 0;
  border: 0;
  background: #0065AD;
  color: #E1E1E1;
  font-weight: bold;
}

.header .form .form__submit figure {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header #search {
  text-align: center;
  width: 100%;
  height: 3rem;
  border: 2px #FAFAFA solid;
  background: url(./Assets/Icons/SVG/Icon-search.svg) no-repeat left center;
  background-repeat: no-repeat;
}

.header #face {
  -webkit-box-shadow: 2px;
          box-shadow: 2px;
  -o-object-fit: fill;
     object-fit: fill;
  max-width: 3.375rem;
  max-height: 3.375rem;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    height: 5rem;
  }
  .header > * {
    height: 3rem;
  }
  .header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 124px;
    margin-left: 0;
  }
  .header .form {
    width: 76%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .form > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .form .form__submit {
    margin-left: 1.5rem;
    margin-right: 0;
  }
  .header .form .form__submit figure {
    margin: 0;
    margin-left: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .header .form .form_search {
    padding-left: 169px;
    min-width: 35%;
  }
  .header #search {
    min-width: 200px;
    height: 3rem;
    margin-left: 0;
    border: 2px #FAFAFA solid;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1440px) and (min-width: 320px) {
  .header {
    margin: 0 16px;
  }
}

@media (min-width: 1440px) and (min-width: 768px) {
  .header {
    margin: 0 24px;
  }
}

@media (min-width: 1440px) and (min-width: 1440px) {
  .header {
    margin: 0 180px;
  }
}

@media (min-width: 1440px) {
  .header .logo {
    margin-right: 509px;
  }
  .header .form {
    width: 30%;
    margin-right: 180px;
  }
  .header .form .form__submit {
    width: 30%;
  }
  .header #search {
    min-width: 15rem;
  }
  .header .upload {
    min-width: 100px;
  }
}
/*# sourceMappingURL=header.css.map */