@import './global.scss';


@media(min-width:$desk) {
    .Bottom{
        position: relative;
        .Bottom-left{
            position: abosolute;
            width: 712px;
        }
        .Bottom-right{
            position: abosolute;
            width: $navigation-width;
        }
    }
}