@import './global.scss';

@media (min-width:$mobile) {
    article {
        @include set_margin();
        border-top:2px grey solid;
        border-bottom: 2px grey solid;
    }
    p{
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
    }
    h1{
        text-align: left;
        margin-bottom: 2rem;
        width: 100%;
        margin: 0;
    }
    form {
        display: flex;
        // justify-content: center;
        flex-direction: column;
        widows: 100%;;
        // flex-wrap: wrap;
        max-width: 13.125rem;
        h2{
            color:grey;
            font-size: 16px;

        }
        .comment__submit{
            background: $primary_CTA_hover;
            width:100%;
            height: 4rem;
            border-radius:5px;
            color:white;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }
        .comment__text{
            border:2px $primary_CTA_hover solid;
            border-radius: 5px;
            height: 5rem;
            width: 100%;
        }
        figure{
            height: 100%;
            width:3rem;
            margin:0;
            img{
                width:3rem;
                height: 3rem;
                border-radius:50%;
            }
        }
    }
}

@media (min-width:$tablet) {
    p{
        margin-top: 2.5rem;
        margin-bottom: 4rem;
    }
    h1{
        text-align: left;
        margin-bottom: 2rem;
        width: 100%;
        margin: 0;
    }
    form {

        display: flex;
        flex-direction: row;
        // widows: 100%;
        width:$tablet;
        // flex-wrap: wrap;
        max-width: 13.125rem;
        h2{
            color:grey;
            font-size: 16px;

        }
        .comment__submit{
            background: $primary_CTA_hover;
            width:160px;
            height: 4rem;
            border-radius:5px;
            color:white;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            margin-left: 1rem;
            margin-right: 2.5rem;
        }
        .comment__text{
            border:2px $primary_CTA_hover solid;
            border-radius: 5px;
            height: 5rem;
            width: 440px;
        }
        figure{
            height: 100%;
            width:3rem;
            margin:0;
            img{
                width:3rem;
                height: 3rem;
                border-radius:50%;
            }
        }
    }
}