@import './global.scss';

@media (min-width:$mobile) {
    article {
        @include set_margin();
        border-top:2px grey solid;
        p{
            margin-top: 1.5rem;
            margin-bottom: 2.5rem;
        }
        h1{
            text-align: left;
            margin-bottom: 2rem;
            width: 100%;
            margin: 0;
        }
    }
    
    h2{
        margin-top: 2rem;
    }
}

@media (min-width:$tablet) {
    
    article {
        p{
            margin-top: 2.5rem;
            margin-bottom: 4rem;
        }
        h1{
            text-align: left;
            margin-bottom: 2rem;
            width: 100%;
            margin: 0;
        }
    }
    #user_comment{
        margin: 0;
        width: 100vw;
        display: flex;
        figure{
            height: inherit;
            width:4rem;
            margin:0;
            img{
                width:4rem;
                height: 4rem;
                border-radius:50%;
                
            }
        }
    }
    #comment_form {
        display: flex;
        margin-top: 0;
        h2{
            text-align: left;
            width: 100%;
        }
        .comment{
            display: flex;
            margin-bottom: 1.5rem;
            // flex-wrap: wrap;
            .comment__submit{
                background: $primary_CTA_hover;
                width:160px;
                height: 4rem;
                border-radius:5px;
                color:white;
                margin-top: 0;
                margin-bottom: 0;
                // margin-right: 2.5rem;
                // margin-left: 1rem;
                margin-right: 2.5rem;
            }
            .comment__text{
                // border:2px $primary_CTA_hover solid;
                // border-radius: 5px;
                height: 4rem;
                margin-right: 1rem;
                width: 440px;
            }
        }
        
        
    }
}

// @media (min-width:$desk) {
//     article{
//         width:712px;
//         margin-right: 1.5rem;
//     }
// }