@import './global.scss';

@media (min-width:$mobile) {
    // .video{
    //     @include set_margin();
    //     background:black;
    //     margin-top: 1rem;
    //     video{
    //         @include set_margin();
    //         width: 100%;
    //         max-height: 183px;
    //     }
    // }

    .videoIntro{
        padding-top: 2rem;
        border-bottom: 2px $text_label solid;
        h1 {
            font-weight: bold;
            margin-bottom: 1rem;
        }
        #channel_date{
            display: flex;
            justify-content: left;
            margin-bottom: 2rem;
            h2{
                width: 40%;
            }
            .person{
                margin-right: 0.5rem;
                text-align: left;
            }
            #date{
                color:$text_label;
            }
        }
        .buttons{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5rem;
            .containers {
                display: flex;
                justify-content: left;
                .btns{
                    margin-right: 0.5rem;
                }
                .nums{
                    width: 40%;
                }
            }
        }
    }
}