@media (min-width: 320px) {
  .videoplay {
    margin: 0;
    margin-top: 3rem;
    width: 100vw;
  }
  .videoplay video {
    width: 100%;
    height: 183px;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .videoplay .control_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 36%;
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .videoplay .control_container .progress_bar {
    border-radius: 5px;
    width: 120px;
    height: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .videoplay .control_container .progress_bar .progress_line {
    background-color: black;
    height: 0.1rem;
    width: 80%;
  }
  .videoplay .control_container .progress_bar label {
    display: none;
  }
  .videoplay .control_container .volume_and_zoom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .videoplay .control_container .play, .videoplay .control_container .zoom, .videoplay .control_container .volume {
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 2rem;
    width: 3.5rem;
  }
  .videoplay .control_container .play img, .videoplay .control_container .zoom img, .videoplay .control_container .volume img {
    width: 3rem;
    height: 2rem;
    border-radius: 5px;
    opacity: 30%;
  }
  .videoplay .control_container .play .play, .videoplay .control_container .zoom .play, .videoplay .control_container .volume .play {
    margin-left: 1rem;
    margin-right: 0.5rem;
  }
  .videoplay .control_container .play .zoom, .videoplay .control_container .zoom .zoom, .videoplay .control_container .volume .zoom {
    margin-left: 0.5rem;
  }
  .videoplay .control_container .play .volume, .videoplay .control_container .zoom .volume, .videoplay .control_container .volume .volume {
    margin-right: 1rem;
  }
}

@media (min-width: 768px) {
  .videoplay {
    width: 100%;
    background: black;
  }
  .videoplay video {
    width: 700px;
    height: 400px;
  }
  .videoplay .control_container {
    width: 700px;
    bottom: 18%;
  }
  .videoplay .control_container .progress_bar {
    width: 519px;
  }
  .videoplay .control_container .progress_bar .progress_line {
    background-color: black;
    height: 0.1rem;
    width: 80%;
  }
  .videoplay .control_container .progress_bar label {
    display: none;
  }
  .videoplay .control_container .play, .videoplay .control_container .zoom, .videoplay .control_container .volume {
    height: 2rem;
    width: 2.6875rem;
  }
  .videoplay .control_container .play .play, .videoplay .control_container .zoom .play, .videoplay .control_container .volume .play {
    margin-left: 0.5rem;
    margin-right: 1rem;
  }
  .videoplay .control_container .play .zoom, .videoplay .control_container .zoom .zoom, .videoplay .control_container .volume .zoom {
    margin-left: 1rem;
  }
  .videoplay .control_container .play .volume, .videoplay .control_container .zoom .volume, .videoplay .control_container .volume .volume {
    margin-right: 0.5rem;
  }
}

@media (min-width: 1440px) {
  .videoplay {
    position: relative;
    width: 100%;
    height: 540px;
    background: black;
  }
  .videoplay video {
    width: 944px;
    height: 540px;
  }
  .videoplay .control_container {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 700px;
    bottom: 5%;
  }
  .videoplay .control_container .progress_bar {
    width: 519px;
  }
  .videoplay .control_container .progress_bar .progress_line {
    background-color: black;
    height: 0.1rem;
    width: 80%;
  }
  .videoplay .control_container .progress_bar label {
    display: none;
  }
  .videoplay .control_container .play, .videoplay .control_container .zoom, .videoplay .control_container .volume {
    height: 2rem;
    width: 3.5rem;
  }
  .videoplay .control_container .play .play, .videoplay .control_container .zoom .play, .videoplay .control_container .volume .play {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .videoplay .control_container .play .zoom, .videoplay .control_container .zoom .zoom, .videoplay .control_container .volume .zoom {
    margin-left: 1rem;
  }
  .videoplay .control_container .play .volume, .videoplay .control_container .zoom .volume, .videoplay .control_container .volume .volume {
    margin-right: 1rem;
  }
}
/*# sourceMappingURL=VideoPlay.css.map */